.btn{
	display: inline-block;
	position: relative;
	padding: 12px 45px;
	box-sizing: border-box;
	background-color: $teal;
	font-size: 20px;
	line-height: 1.25em;
	cursor: pointer;
	text-align: center;
	transition: 0.2s background-color ease-in-out;
	color: #ffffff;
	border-radius: 25px;
	border: 1px solid #ffffff;
	&:hover{
		@include media($s) {
			background-color: $dark-teal;
		}
	}
	.c-intro-text & {
		min-width: 290px;
		margin-bottom: 1em;
	}
	&_fix-width{
		min-width: 250px;
	}
	&_white{
		background-color: #ffffff;
		border: 1px solid $teal;
		color: $teal;
		transition: 0.2s background-color ease-in-out, 0.2s color ease-in-out;
		&:hover{
			@include media($s) {
				color: #ffffff;
			}
		}
	}
	&_shadow{
		box-shadow: 0 0 10px 3px rgba(0, 1, 1, 0.2);
		border: 1px solid transparent;
	}
}
.c-scroll-trigger {
	width: 53px;
	height: 53px;
	display: inline-block;

	.l-home-slider__content & {
		position: absolute;
		bottom: 80px;
		left: 0;

	}
	svg {
		width: 100%;
		height: 100%;
	}
	path {
		stroke: $font-color-gray;
		transition: stroke .4s ease;
	}
	&:hover path {
		stroke: $teal;
	}
}
