.c-footer{
	color: #ffffff;
	background-image: linear-gradient(135deg, #38bdc0, #70d1bb);
	margin: 0 auto;
	position: relative;
	padding: 25px 20px 20px;
	@include media($s) {
		padding: 50px 45px 30px;
	}
	&__top-panel{
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include media($s) {
			margin-bottom: 10px;
		}
	}
	&__logo{
		margin-bottom: 10px;
		position: relative;
		display: block;
		width: 180px;
		height: 45px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0 center;
		background-image: url("../images/menu_logo_white.png");
		@include media($s) {
			margin-bottom: 0;
			width: 275px;
			height: 90px;
		}
	}
	&__social-links{
		margin-bottom: 55px;
		display: flex;
		@include media($s) {
			margin-bottom: 50px;
			margin-left: auto;
			width: 230px;
			justify-content: flex-end;
		}
		a{
			margin-right: 25px;
			border-radius: 50%;
			background-color: #ffffff;
			width: 34px;
			height: 34px;
			padding: 6px;
			box-sizing: border-box;
			@include media($s) {
				width: 36px;
				height: 36px;
			}
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
			&:nth-child(1) {
				&:before {
					background-image: url("../images/twitter-logo.svg");
				}
			}
			&:nth-child(2) {
				&:before {
					background-image: url("../images/in-logo.svg");
				}
			}
			&:nth-child(3) {
				&:before {
					background-image: url("../images/facebook-logo.svg");
				}
			}
			&:nth-child(4) {
				&:before {
					background-image: url("../images/youtube-logo.svg");
				}
				@include media($s) {
					margin-right: 0;
				}
			}
		}
	}
	&__bottom-panel{
		font-size: 10px;
		line-height: 1.4em;
		@include media($s) {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
			align-items: center;
			font-size: 18px;
			line-height: 2.1em;
		}
	}
	&__other-links{
		margin-bottom: 20px;
		@include media($s) {
			margin-bottom: 0;
		}
		a{
			margin-left: 20px;
			color: #ffffff;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 2px;
				left: -12px;
				height: 10px;
				width: 1px;
				background-color: #ffffff;
				@include media($s) {
					top: 5px;
					left: -12px;
					height: 12px;
				}
			}
			&:first-child{
				margin-left: 0;
				&:before{
					display: none;
				}
			}
		}
	}
}
