@keyframes burger-start-1 {
	50% {
		transform: translateY(9px) rotate(0);
	}
	100% {
		transform: translateY(9px) rotate(45deg);
	}
}

@keyframes burger-start-2 {
	50% {
		transform: translateY(-9px) rotate(0);
	}
	100% {
		transform: translateY(-9px) rotate(-45deg);
	}
}

@keyframes burger-finish-1 {
	0% {
		transform: translateY(9px) rotate(45deg);
	}
	50% {
		transform: translateY(9px) rotate(0);
	}
}

@keyframes burger-finish-2 {
	0% {
		transform: translateY(-9px) rotate(-45deg);
	}
	50% {
		transform: translateY(-9px) rotate(0);
	}
}

.c-hamburger {
	z-index: 4;
	display: flex;
	@include media($s) {
		display: none;
		flex-direction: row-reverse;
		align-items: flex-end;
	}
	&__icon {
		transition: transform 0.2s ease-in-out;
		position: relative;
		margin-left: auto;
		display: block;
		width: 29px;
		height: 21px;
		cursor: pointer;
		.js-nav-open & {
			transform: none;
		}
	}
	&__bar {
		border-radius: 2px;
		height: 3px;
		width: 100%;
		background-color: $teal;
		&:nth-of-type(1),
		&:nth-of-type(2) {
			margin-bottom: 6px;
		}
		&:nth-of-type(1),
		&:nth-of-type(3) {
			transition: background-color 0.2s ease-in-out;
			animation-duration: 0.2s;
			.js-nav-open & {
				background-color: #ffffff;
				transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
			}
		}
		&:nth-of-type(1) {
			animation-name: burger-finish-1;
			.js-nav-open & {
				animation-name: burger-start-1;
				animation-fill-mode: forwards;
			}
		}
		&:nth-child(2) {
			transition: opacity 0.2s ease-in-out ;
			.js-nav-open & {
				transition: opacity 0.2s ease-in-out;
				opacity: 0;
			}
		}
		&:nth-of-type(3) {
			animation-name: burger-finish-2;
			.js-nav-open & {
				animation-name: burger-start-2;
				animation-fill-mode: forwards;
			}
		}
		.js-nav-open & {
			transform: none;
		}
	}
}
