.c-header {
	background-color: #ffffff;
	z-index: 4;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 140px;
	width: 100%;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	padding: 0 20px;
	@include media($s) {
		padding: 0 45px;
	}
	&-popup {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $teal;
		width: 100%;
		height: calc(100% + 1px);
	}
	&_sticky {
		//position: fixed;
		//height: 110px;
		top: 0;
		//left: 0;
		box-shadow: 2px 2px 5px 0 rgba(0, 1, 1, 0.2);
		.c-header__logo {
			@include media($s) {
				height: 60px;
			}
			&-main {
				background-image: url("../images/menu_logo_sticky.png");
			}
		}
	}

	&__logo {
		z-index: 4;
		position: relative;
		display: block;
		width: 180px;
		height: 60px;
		@include media($s) {
			width: 275px;
			height: 90px;
		}
		&-main,
		&-nav {
			top: 0;
			left: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 0 center;
			transition: opacity 0.4s ease-out;
		}
		&-main {
			background-image: url("../images/menu_logo.png");
			.js-nav-open & {
				opacity: 0;
			}
		}
		&-nav {
			background-image: url("../images/menu_logo_white.png");
			opacity: 0;
			.js-nav-open & {
				opacity: 1;
			}
		}
	}
	&__links {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		padding: 0 0 60px 0;
		@include media($s) {

		}
		&_row {
			display: none;
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			padding: 20px 0 0 0;
			@include media($s) {
				display: flex;
			}
		}
	}
	&__buttons-section {
		position: absolute;
		text-align: center;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);

		.c-header__links_row & {
			position: relative;
			padding-left: 70px;
			bottom: auto;
			left: auto;
			transform: none;
		}
	}
	&__popup {
		top: 0;
		left: 0;
		background-color: $teal;
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 3;
		transition: transform 0.2s ease-in-out;
		transform: translateX(-100%);
		pointer-events: none;
		.js-nav-open & {
			pointer-events: auto;
			transform: translateX(0);
		}
		@include media($s) {
			display: none;
		}
	}
}
