.c-hero {
    position: relative;
    overflow: hidden;
    
    &__marker {
        opacity: .9;
        float: right;
        width: 34%;
        width: 69%;
        height: auto;
    }
    &__photo {
        position: absolute;
        top: 50%;
        right: 20%;
        left: 0;
        transform: translateY(-50%);
        
        @include media($s) {
            right: 4%;
            left: 40px;
        }

        img {
            width: 100%;
        }
    }
}
