.c-intro-text {
    &__title {
        font-weight: 200;
        font-size: 35px;
        color: $teal;
        margin-bottom: 0.5em;
        margin-top: 0;
        @include media($l) {
            font-size: 45px;

        }
    }
    &__article {
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5555em;
        margin-bottom: 2em;
        @include media($l) {
            font-size: 18px;
        }
    }
}