.c-menu{
	.nav{
		display: flex;
		& > .menu-item {
			margin-left: 50px;
			font-size: 20px;
			line-height: 1.25em;
			a {
				color: $font-color-gray;
				transition: color 0.2s ease-in-out;
				&:hover{
					color: $teal;
				}
			}
		}
	}
	.nav-footer{
		display: none;
		@include media($s) {
			display: flex;
			padding-top: 25px;
		}
		& > .menu-item {
			margin-left: 20px;
			font-size: 18px;
			line-height: 1.25em;
			a {
				white-space: nowrap;
				color: #ffffff;
			}
		}
	}
	.menu{
		text-align: center;
		color: #ffffff;
		& > .menu-item {
			font-size: 30px;
			line-height: 2em;
			a {
				color: #ffffff;
			}
		}
	}
	.c-header__links_row &{
		display: flex;
		align-items: center;
	}
}
