.c-team-member{
	&__photo{
		box-shadow: 0 0 40px 10px rgba(0, 0, 0, .17);
		margin-bottom: 15px;
		// padding: 16px;
		img{
			width: 100%;
		}
	}
	&__name{
		font-size: 20px;
	font-weight: $extra-light-font;
	color: $teal; 
	}
	&__spec{
		font-size: 20px;

	}
}