.l-section{
    padding: 50px 0;
    &_bg_gray{
        background-repeat: no-repeat;
        background-position: left 0 bottom 200%;
        background-image: url("../images/section-bg_gray.png");
        @include media($s) {
            background-position: left 0 bottom 60px;
            background-size: cover  ;
        }
    }
    &_bg_gray_bottom  {
        background-repeat: no-repeat;
        background-position: left 0 bottom 0;
        background-image: url("../images/section-bg_gray_bottom.png");
        @include media($s) {
            background-position: left 0 top 300px;
            background-size: cover  ;
        }
    }
}
.l-container{
    margin: 0 auto;
    max-width: calc(#{$xl} + 90px);
    padding: 0 20px;
    @include media($s) {
        padding: 0 45px;
    }

    &__side{
        width: 100%;
        @include media($s) {
            width: 50%;
        }
    }
}
.l-4-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
        width: 48%;
        @include media($s) {
            width: 23%;
        }
    }
}   