.l-home-slider {
    transition: opacity .4s ease;

    &.loading {
        opacity: 0;
        transition: none;
    }

    &__content {
        position: relative;
        &:first-child {
            min-height: 100vh;
            overflow: hidden;

        }
        @include media($l) {
            display: flex;
            align-items: center;
            width: 50%;
            height: 100vh;
        }
    }

    &__media {
        @include media($l) {
            position: fixed;
            left: 60%;
            right: calc(40% - 450px);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.c-svg-mask {
    width: 67%;
    margin-left: auto;
    transform: translateX(50px);
    @include media($l) {
        width: 100%;
        margin-left: 0;
        transform: none;
    }
    image {
        opacity: 0;
        transition: opacity .4s ease;
        &.active {
            opacity: .25;
        }
    }
}