html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
	font-family: $font-montserrat;
	color: $font-color-gray;
	font-weight: $light-font;
	font-size: $font-size-base-mobile;
	margin: 0;
	position: relative;
	@include media($s) {
		font-size: $font-size-base;
	}
	dd {
		margin: 0;
	}
	p {
		margin-top: 0;
		margin-bottom: 20px;
		line-height: 1.5em;
	}
	a {
		text-decoration: none;
		color: $font-color-gray;
	}
	figure{
		margin: 0;
	}
	img {
		display: block;
		height: auto;
	}
	ul, ol {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	button, a {
		cursor: pointer;
	}
	button {
		border: none;
	}
	a, button, input, textarea {
		font-family: inherit;
		&:focus {
			outline: none;
		}
	}
	input, textarea, button {
		background: none;
		padding: 0;
		border: none;
	}
	&.js-nav-open {
		overflow: hidden;
	}
}
