/** Box Model  */
$xs: 480px;
$s: 768px;
$m: 970px;
$l: 1024px;
$xl: 1280px;
$xxl: 1600px;

/** Colors */
$brand-primary: #525ddc;
$teal: #2ad2c9;
$dark-teal: #27c0b8;
$light-gray: #f8f8f8;
$font-color-gray: #929497;

//** Other */
$headings: h1 h2 h3 h4 h5 h6;
$font-size-base: 18px;
$font-size-base-mobile: 15px;
$max-width: 1070px;

/** Box Model  */
$spacer: 2rem;

$font-montserrat: 'Montserrat', sans-serif;

$light-font: 300;
$extra-light-font: 200;
